{{ 'section-customers.css' | asset_url | stylesheet_tag }}

<div class="customer color-{{ section.settings.color_scheme }}">
  <div class="container">
    <div class="customer__header">
      <h1>{{ 'customer.reset_password.title' | t }}</h1>
      <p>{{ 'customer.reset_password.subtitle' | t }}</p>
    </div>

    <div class="customer__form-wrapper">
      {%- form 'reset_customer_password' -%}
        {%- if form.errors -%}
          <div class="customer__form-errors" role="alert">
            <p>{{ form.errors | default_errors }}</p>
          </div>
        {%- endif -%}

        <div class="customer__form">
          <div class="field">
            <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
            <input
              type="password"
              name="customer[password]"
              id="ResetPassword"
              autocomplete="new-password"
              required
            >
          </div>

          <div class="field">
            <label for="ResetPasswordConfirm">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input
              type="password"
              name="customer[password_confirmation]"
              id="ResetPasswordConfirm"
              autocomplete="new-password"
              required
            >
          </div>

          <button type="submit" class="btn btn--primary">
            {{ 'customer.reset_password.submit' | t }}
          </button>
        </div>
      {%- endform -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main_reset_password.name",
  "tag": "section",
  "class": "section-customer-reset-password",
  "settings": []
}
{% endschema %}
